@import "tailwindcss";

@layer utilities {
  .bg-primary {
    background-color: #6366f1;
  }
  .hover\:bg-primary:hover {
    background-color: #4f46e5;
  }
  .text-primary {
    color: #6366f1;
  }
  .text-secondary {
    color: #c3b9e1;
  }
}

html {
  scroll-padding-top: 4rem; /* Adjust to your header height, e.g., 64px = 4rem */
  scroll-behavior: smooth;  /* Optional smooth scroll */
}
