@import "tailwindcss";

@layer utilities {
  .bg-primary {
    background-color: #6366f1;
  }
  .hover\:bg-primary:hover {
    background-color: #4f46e5;
  }
  .text-primary {
    color: #6366f1;
  }
}
